body {
  margin-top: 20px;
}
.noelipsis {
    text-overflow: initial !important;
    overflow: visible !important;
    white-space: normal !important;
}

.frontlogo {
	margin-left: 35%;
	margin-right: 35%;
	width: 30%;
}

.everettlogo {
	margin-left: 15%;
	margin-right: 15%;
  width:70%
}

ios7
{
    padding-top: 20px !important;
}

.ios7-header-button
{
    margin-top: 20px !important;
}