
.noelipsis {
    text-overflow: initial !important;
    overflow: visible !important;
    white-space: normal !important;
}

.frontlogo {
	margin-left: 35%;
	margin-right: 35%;
	width: 30%;
}

.everettlogo {
	margin-left: 15%;
	margin-right: 15%;
  width:70%
}

.headerdiv {
margin-top: 20px;
}

/**
* Styles to fix the new iOS 7 transparent status bar
*/

#ios7statusbar {
width:100%;
height:20px;
background-color:white;
position:fixed;
z-index:10000;
}
.ios7 .ui-page, .ios7 .ui-header, .ios7 .ui-pane {
margin-top: 20px;
}


